.tile{
    background-color: aqua;
    width:100px;
    height: 100px;
    margin: 3px;
    align-content: center;
    align-items: center;


}

.board{
    display: grid;
    grid-template-columns: repeat(4,auto);
    width: 500px;
    height: 300px;
    align-content: center;
    justify-content: center;

}
.tile.clicked{
    background-color: white;

}

.tile.clicked img{
    display: block;
    margin: auto;
    height: 100%;
    width: 100%;
}

.tile.clicked.found{
    background-color: lightgreen;
}

h1{
    text-align: center;
    height: 50px;
    width: 500px;

}

body{
    background-color: beige;
}

.counter{
    text-emphasis: bold;
    text-align: center;
    font-size: large;
    margin-top: 10px;
    align-content: center;
    justify-content: center;
    width: 500px;

}

.restartButton{
    align-items: center;
    text-align: center;
    align-content: center;
    width: 500px;
    visibility: hidden;
}

.restartButton.visible{
    visibility: visible;
}